html{
    height: 100%;
}

body{
    font-weight: normal;
    background-color: #FFFFFF !important;
    height:100%;
    display: flex;
    flex-direction: column;
}

a{
    font-family: "Hind", sans-serif !important;
}

.content{
    flex: 1 0 auto;
}

.cursor-show {
    cursor: pointer;
}

.font_19{
    font-size: 19px !important;
}

.bolded {
    font-weight: bolder;
}

.heading_page {
    margin-top: 20px;
    margin-bottom: 5px;
    /* up right down left */
    padding: 10px 5px 10px 55px;
    color: #FFFFFF;
}

.heading_title {
    color: #FFFFFF !important;
    font-family: "Hind", sans-serif !important;
    font-size: 20px !important;
}

.cd-main-content p{
    font-size: 15px;
    font-family: "Hind", sans-serif !important;
    margin: 0;
    color: #1d1d1d;
}

.shadowed {
    box-shadow: 0 0 5px #909090;
}

.heading_page.heading_page_red {
    background-color: #E24E42;
}

.heading_page.heading_page_yellow {
    background-color: #E9B000;
}

.heading_page.heading_page_pink {
    background-color: #EB6E80;
}

.heading_page.heading_page_blue {
    background-color: #008F95;
}

.heading_title {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
}

.tiptext {

}

.description {
    display: none;
    background-color: #F2F2F2;
    color: #FFFFFF !important;
    padding-left: 8px;
    padding-right: 8px;
    position: absolute;
    font-size: 13px;
    left: 30px;
    top: -10px;
    width: 300px;
    height: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    z-index: 3;
}

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

.dropbtn {
    background-color: #008F95;
    color: white;
    padding: 10px;
    padding-bottom: 7px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.btn-primary{
    border: none;
}

.btn_no_focus:focus{
    border: none;
    outline: none;
}

.btn_no_focus:active{
    border: none;
    outline: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 3px 5px 3px 5px !important;
    display: block;
    font-size: 16px !important;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #005e64;
}

.textarea_full {
    width: 90%;
}

.textarea-newdebate{
    width: 100%;
    border-radius: 0;
    resize: vertical;
}

.input-search-category{
    width: 100%;
    border: 1px solid #ccc !important;
    border-radius: 0;
}

.btn-add-categ{
    width: 100%;
    height: 40px;
    background-color: #E24E42;
    border: nonel;
    border-radius: 0;
}

.btn-add-categ:hover, .btn-add-categ:focus, .btn-add-categ:active, .btn-add-categ:active:focus{
    background-color: #a93c31;
}

.searchable-container {
    margin: 50px 0 0 30px;
    width: 100%;
}

.categories-container{
    margin: 20px 0 0 0;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.searchable-container label.btn-default.active {
    background-color: #e9b000;
    color: #FFF;
    outline: none;
}

.searchable-container label.btn-default {
    width: 90%;
    background-color: #f9f9f9;
    margin: 6px;
    padding: 0 5px 5px 0;
    box-shadow: 2px 2px 2px 0 #f2f2f2;
    outline: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 0;
}

.searchable-container label.btn-default:hover{
    background-color: #008f95;
    color: #FFFFFF;
}

.searchable-container label .bizcontent {
    width: 100%;
    margin: 0;
    padding: 10px 27px 0 0;
    display:flex;
    border: none;
    flex-direction:row;
    flex-wrap:nowrap;
    font-family: "Hind", sans-serif !important;
}

.searchable-container .btn-group {

}

.searchable-container .btn span.glyphicon {
    opacity: 0;
}

.searchable-container .btn.active span.glyphicon {
    opacity: 1;
}

.categ {
    font-size: 100%;
    word-wrap: break-word;
}

.categorybox {
    padding: 0;

    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
    white-space: normal;
    margin: 20px;
    width: 200px;
    height: 200px;

}

.insidebox {
    height: inherit;
    width: inherit;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-color: #71a6a9;
    cursor: progress;
}

.outsidebox {
    height: inherit;
    width: inherit;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-color: #a93150;
    cursor: pointer;
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
    margin:20px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 200px;
    height: 200px;
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
    white-space: normal;


}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);

}

.full-category {
    background-color: #1d1d1d;
    width: 1000px;
    height: 100px;
}

.accepta_provocare_btn {
    font-weight: bold;
    font-size: larger;
    padding: 0 25px 0 25px;
    outline: none;
    border: none;
    margin-top: 15px;
    height: 50px;
    background-color: #4cae4c
}

.renunta_dezbatere_btn{
    font-weight: bold;
    font-size: larger;
    padding: 0 25px 0 25px;
    outline: none;
    border: none;
    margin-top: 15px;
    height: 50px;
    background-color: #ae2314
}

.accepta_provocare_btn:hover{
    background-color: #5e0a0b;
    outline: none;
    border: none;
}

.accepta_provocare_btn:active{
    background-color: #5e0a0b;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    outline: none;
    border: none;
}

.withoutList{
    list-style: none !important;
}

.allDebatesTable{
    display: flex;
    border-bottom: 3px solid #ec8178;
}

.debate_title{
    font-size: 20px !important;
    cursor: pointer;
}

.procon_red{
    background: url("http://dezbateri.ro/debate/procon.png")  no-repeat  center top;
    background-size: 200px 140px;
    padding-top: 35px;
}

.procon_pink{
    background: url("http://dezbateri.ro/debate/procon_pink.png")  no-repeat  center top;
    background-size: 200px 140px;
    padding-top: 35px;
}

.procon_blue{
    background: url("http://dezbateri.ro/debate/procon_blue.png")  no-repeat  center top;
    background-size: 200px 140px;
    padding-top: 35px;
}

.oponent_debate{
    font-weight: 600 !important;
    color:#FFFFFF !important;
    text-align: center
}

.oponent_vs{
    font-weight: 400 !important;
    color: #e7dee0 !important;
    text-align: center
}

.cd-read-more em,b {
    font-size: 15px;
    font-family: "Hind", sans-serif !important;
    font-style: normal !important;
    cursor: pointer;
}

.cd-read-more b {
    font-size: 12px;
}

.reading{
    background-color: #3c3c3c;
    transition-timing-function: ease;
    transition: 1.0s;
}

.cd-read-more a.reading em {
    color: #FFFFFF;
}

.debate_picture_text{
    font-weight: bold !important;
    font-size: 16px !important;;
    color: #FFFFFF !important;;
    font-family: "Hind", sans-serif !important;
}

.debate_picture_img{
    height: 80%;
    width: 100%;
    padding: 10px 20px 10px 20px;
    background-color: #FFFFFF !important;"
}

.debate_picture_username{
    font-weight: bold !important;
    font-size: 18px !important;
    text-wrap: normal;
    word-break: break-all;
    color: #FFFFFF !important;
    padding: 5px 0 5px 0;
    font-family: "Hind", sans-serif !important;
}

.no_padding{
    padding: 0!important;
}

.top-cd-header{
    padding: 120px 10.0vw 0 10.0vw;
    background-color: rgb(250, 250, 250);
}

.debate_details_title{
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 25px;
    color: #000000;
    line-height: normal;
}

.debate_details_description{
    font-style: italic;
    font-size: 15px;
    color: #313131;
}

.debate_details_status{
    font-weight: bold;
    font-size: 22px;
    color: #c00d0f;
    margin-bottom: 5px;
}

.debate_details_status_expl{
    font-weight: inherit;
    font-size: 13px;
    color: #000000;
    opacity: 0.7;
}

.boxWhite{
    background-color:#FFFFFF;
    margin-top: 20px;
    padding: 20px 0 20px 0;
}

.endedDebate{
    font-weight: inherit;
    font-size: 15px;
    color: #000000;
    padding: 10px 0 0 0
}

.endedWinner{
    font-weight: bold;
    border: dashed 2px #008F95;
    margin: 2% 30% 0 30% ;
    padding: 3px 0 3px 0;
    font-size: 20px;
    color: #008F95;
}

.debate_details_font_small{
    font-size: 12px !important;
}

.picture_box{
    background-color: #008F95;
    padding: 10px;
    height: auto;
    max-width: 300px;
    max-height: 400px;
    margin-bottom: 10px;
}

.article_personalised{
    border-left: solid;
    border-left-width: 10px;
}

.article_personalised.pro{
    border-left-color: #E9B000
}

.article_personalised.con{
    border-left-color: #E24E42
}

.article_username{
    padding: 0 10px 0 10px;
    display: inline-block;
}

.article_username.pro{
    background-color: #E9B000;
    margin-bottom: 15px;
}

.article_username.con{
    background-color: #E24E42;
    margin-bottom: 15px;
}

.speech_pro_player{
    font-weight: bold !important;
    font-size: 17px !important;
    color: #FFFFFF !important;
    font-family: "Hind", sans-serif !important;
    padding: 0 !important;
}

.right_panel_navigator{
    border-right: solid 10px  #E9B000;
    margin:0 !important;
}

.right_panel_navigator.con {
    border-right-color: #E24E42;
}

.trix-personalized{
    min-height: 100px;
    height: 25vh;
    border-radius: 0;
    padding: 20px ;
    line-height: normal;
    text-align: justify;
    height: auto;
    transition: transform 800ms ease, opacity 800ms ease;
    opacity:0.4;
    margin-bottom: 10px;
}

.trix-personalized:focus{
    box-shadow: 0 0 10px #bcc2cc;
    border-color: #FFFFFF;
    height: auto;
    opacity:1;
}
.trix-personalized > ul,li,ol {
    margin: 0 0 5px 20px !important;
}

.trix-personalized > blockquote, .speech-text-personal > blockquote{
    font-style: italic;
    font-size: small;
    background-color: #eeeeee;
    margin: 3px 20px 3px 20px;
    padding: 6px;
    text-align: center;
}

trix-toolbar{
    position: fixed;
    right: 0;
    left: 0;
    text-align: center;
    bottom: 0;
    background-color: #008F95;
    padding: 15px 35px 15px 35px;
    z-index: 99;
    border-radius: 0;
    opacity: 0.6;
    transition: transform 800ms ease, opacity 800ms ease;
}

trix-toolbar:hover{
    opacity: 1;
}


trix-toolbar .button_group button.active, trix-toolbar .button_group input[type=button].active {
    background: #434343;
    border-bottom: none;
}

trix-toolbar .button_group{
    border: none;
    border-radius: 0;
    overflow: initial;
}

trix-toolbar .button_group button::before, trix-toolbar .button_group input[type=button]::before {
    filter: brightness(100);
}

trix-toolbar .button_group button.active::before, trix-toolbar .button_group input[type=button].active::before {
    opacity: 1;
    filter: invert(1);
}

trix-toolbar .button_group button, trix-toolbar .button_group input[type=button] {
    border-bottom: none;
}

trix-toolbar .dialogs .dialog {
    line-height: 12px;
     box-shadow: none;
    border: 2px solid #888;
     border-radius: 0px;
}

trix-toolbar .dialogs {
    position: fixed;
    bottom: 14%;
    margin-left: 30vw;
}

.timer-countdown{
    font-size: 22px !important;
    font-weight: bold;
    margin : 10px !important;
}

.green-status{
    color: #4cae4c !important;
}

.black-status{
    color: #1d1d1d !important;
}

.red-status{
    color: #c00d0f !important;
}

.next-speaker{
    font-size: 22px !important;
    font-weight: bold;
    display:inline-block;
}

.next-speaker.pro{
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #E9B000;
}

.next-speaker.con{
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #E24E42;
}

.speech-publish-button{
    border-radius: 0;
    background-color: #008F95;
    margin-right: 5px;
    font-size: 15px;
    padding-bottom: 2px;
    border:none;
}

.speech-publish-button:hover, .speech-publish-button:active, .speech-publish-button:focus, .speech-publish-button:active:hover{
    background-color: #00adb3;
    border: none;
    outline: none;
}

.warning-message{
    font-size: 20px !important;
    margin: -20px 0 5px 0 !important;
    font-weight: bold;
    opacity: 0.7;
    color: #E24E42 !important;
}

.join-debate-box{
    padding: 5px;
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
    word-break: normal;
    text-decoration: underline solid #000;
}

.join-debate-text{
    font-weight: bold;
    text-align: center
}

.vote-btn{
    border-radius: 0;
    font-weight: bold;
    font-size:16px;
    margin: 4px 5px 0 5px;
    padding:6px 10px 5px 10px;
}

.vote-btn.pro{
    background-color: #E9B000;
}

.vote-btn.con{
    background-color: #E24E42;
}

.vote-btn.pro:hover{
    background-color: #a67b00;
}

.vote-btn.con:hover{
    background-color: #923428;
}

.vote-now-title{
    color: #c00d0f!important;
    font-weight: bold;
    margin-top: 15px;
    opacity: 0.7;
}