/* -------------------------------- 

Primary style

-------------------------------- */
svg {
  max-width: 100%;
}

.cd-header {
  min-height: 140px;
  border-bottom: 2px solid #e6e6e6;
  text-align: center;
  padding-top: 15px;
}
.cd-header h1 {
  font-family: Georgia, serif;
  font-size: 2rem;
  color: #141414;
}
@media only screen and (min-width: 1100px) {
  .cd-header {
    min-height: 350px;
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .cd-header h1 {
    font-size: 3.6rem;
  }
}

.cd-footer {
  height: 250px;
  background-color: #141414;
  text-align: center;
}
.cd-footer p {
  font-family: Georgia, serif;
  font-size: 1.8rem;
  line-height: 250px;
}

/* -------------------------------- 

download button

-------------------------------- */
.cd-nugget-info a {
  position: relative;
  display: inline-block;
  padding: 1.2em 1.6em;
  border-radius: 50em;
  background: #2a76e8;
  font-size: 14px;
  color: #ffffff;
  margin-top: 1em;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0 0 20px rgba(42, 118, 232, 0.4);
}
.no-touch .cd-nugget-info a:hover {
  opacity: .8;
}
.cd-nugget-info span {
  vertical-align: middle;
  display: inline-block;
}
.cd-nugget-info span svg {
  display: block;
}
.cd-nugget-info .cd-nugget-info-arrow {
  fill: #ffffff;
}
@media only screen and (min-width: 1100px) {
  .cd-nugget-info a {
    margin-top: 1.4em;
  }
}

/* -------------------------------- 

Articles

-------------------------------- */
.cd-articles {
  position: relative;
  width: 90%;
  max-width: 750px;
  margin: 0 auto 3em;

}
.cd-articles::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.cd-articles article {
  padding: 1.5em 0;
  border-bottom: 1px solid #e6e6e6;
  padding-left: 20px;
}
.cd-articles article:last-of-type {
  border-bottom: none;
}
.cd-articles h1 {
  margin: .6em 0 .2em;
  color: #141414;
  line-height: 1.2;
  font-size: 2.4rem;
  font-family: Georgia, serif;
}
.cd-articles p {
  padding: 0.3em 0;
  line-height: 1.6;
}
.cd-articles p:last-of-type {
  padding-bottom: 0;
}
@media only screen and (min-width: 1100px) {
  .cd-articles {
    width: 970px;
    max-width: none;
    padding-right: 320px;
  }
  .cd-articles::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
  .cd-articles h1 {
    font-size: 3.6rem;
  }
  .cd-articles p {
    font-size: 1.4rem;
    font-family: Georgia, serif;
    margin: 0em auto; !important;
  }
}

/* -------------------------------- 

Aside

-------------------------------- */
.cd-read-more {
  /* hide on mobile */
  display: none;
  width: 290px;
  background-color: #f2f2f2;
}
.cd-read-more li {
  counter-increment: articles;
}
.cd-read-more a {
  display: block;
  position: relative;
  padding: 1.6em 1.1em 1.6em 4.3em;
}
.cd-read-more a::before, .cd-read-more a::after {
  position: absolute;
}
.cd-read-more a::before {
  /* article number */
  content: counter(articles);
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 1.1em;
  width: 36px;
  height: 36px;
  line-height: 34px;
  border-radius: 50%;
  color: #b3b3b3;
  font-family: Georgia, serif;
  text-align: center;
  box-shadow: inset 0 0 0 1px #d9d9d9;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -moz-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.cd-read-more a::after {
  /* bottom separation - line */
  content: '';
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
  height: 1px;
  width: 260px;
  background-color: #d9d9d9;
}
.cd-read-more a.read em {
  color: #a6a6a6;
}
.cd-read-more a.read::before {
  background-color: #d9d9d9;
}
.cd-read-more a.reading em {
  color: #2a76e8;
}
.cd-read-more a.reading svg {
  display: block;
}
.cd-read-more a.reading::before {
  background-color: #ffffff;
  color: #141414;
}
.cd-read-more li:last-of-type a::after {
  display: none;
}
.cd-read-more em {
  display: block;
  font-size: 1.4rem;
  line-height: 1.2;
  color: #141414;
  /* truncate text with ellipsis */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}
.cd-read-more b {
  color: #a6a6a6;
  font-size: 1.2rem;
  font-family: Georgia, serif;
  font-style: italic;
}
.cd-read-more svg {
  /* this is the filling circle around the article number */
  display: none;
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 1.1em;
  stroke: #2a76e8;
}
@media only screen and (min-width: 1100px) {
  .cd-read-more {
    display: block;
    position: absolute;
    top: 1em;
    right: 0;
  }
  .cd-read-more.fixed {
    position: fixed;
    top: 7em;
    right: calc(50% - 485px);
  }
}
