<div ng-controller="opiniiController">
    <header class="cd-auto-hide-header">
        <div class="logo"><a href="#0"><img src="assets/img/cd-logo.svg" alt="Logo"></a></div>

        <nav class="cd-primary-nav">
            <a href="#cd-navigation" class="nav-trigger">
			<span>
				<em aria-hidden="true"></em>
				Menu
			</span>
            </a> <!-- .nav-trigger -->

            <ul id="cd-navigation">
                <li><a class="cursor-show" ng-click="navigateFactory.goToAcasa()">Acasa</a></li>
                <li><a class="cursor-show" ng-click="navigateFactory.goToDezbateri()">Dezbateri</a></li>
                <li><a class="cursor-show bolded" ng-click="navigateFactory.goToOpinii()">Opinii</a></li>
                <li ng-show="!navigateFactory.isLoggedIn()"><a class="cursor-show" ng-click="navigateFactory.goToLogin()">Autentificare</a></li>
                <li ng-show="navigateFactory.isLoggedIn()" class="dropdown">
                    <a class="cursor-show">
                    <span class="dropbtn">
                       <img src="assets/img/iconUser.png" alt="Logo" style="max-width: 20px; max-height: 20px; margin-bottom: -4px;">
                        {{userLogged}}
                    </span>
                        <div class="dropdown-content">
                            <a href="#">Vezi profilul</a>
                            <a href="#">Delogheaza-te</a>
                        </div>
                    </a>
                </li>
            </ul>
        </nav> <!-- .cd-primary-nav -->


        <nav class="cd-secondary-nav">
            <ul>
                <li><a class="active" href="#0">Intro</a></li>
                <li><a href="#0">Features</a></li>
                <li><a href="#0">Photos</a></li>
                <li><a href="#0">Videos</a></li>
                <li><a href="#0">Specs</a></li>
                <li><a href="#0">Support</a></li>
                <li><a href="#0">Compare</a></li>
                <li><a href="#0">Buy</a></li>
            </ul>
        </nav> <!-- .cd-secondary-nav -->
    </header> <!-- .cd-auto-hide-header -->

    <main class="cd-main-content sub-nav">

        <div>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, quos, voluptate, sunt, in suscipit
                quibusdam quis dignissimos eligendi repellendus ipsam exercitationem adipisci nostrum fugit accusamus
                quae cum nisi accusantium eaque.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, dolore, impedit eveniet
                necessitatibus voluptate distinctio quam repellendus voluptates voluptatum inventore rem sapiente minus
                esse saepe iste harum architecto numquam quis vero dignissimos beatae est id libero adipisci enim odio
                natus commodi explicabo modi similique nesciunt deserunt vel consectetur velit omnis quaerat corrupti.
                Cumque, perspiciatis, culpa, reprehenderit laboriosam obcaecati deleniti soluta tempora ipsum ipsam iure
                temporibus dolore modi quidem cum doloribus ex vel suscipit sapiente ut esse optio voluptates molestias
                natus nostrum illo nihil quisquam facilis hic atque voluptas quae pariatur placeat officia doloremque
                quia ea recusandae rem iste asperiores iusto debitis quod incidunt id nemo repellendus itaque. Iure,
                vel, expedita quam repellendus aliquam fugit autem obcaecati libero reiciendis excepturi officia
                voluptate molestiae quis itaque consequatur nulla ea sunt facilis cupiditate tempora sequi nam in
                asperiores! Sunt, maxime at id eaque debitis quasi a possimus eveniet eum velit tempore quidem
                voluptates expedita quibusdam officiis. Ipsum, quaerat, vero, adipisci enim autem inventore eum maiores
                consectetur culpa molestiae cumque sed qui dolorem. Placeat, quae deleniti molestiae minima cupiditate
                quaerat sit est perspiciatis error iste. Ratione, minus, commodi, magni laborum doloribus libero ullam
                quos tenetur quis molestias ipsam consequuntur harum asperiores culpa nostrum omnis.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, dolore, impedit eveniet
                necessitatibus voluptate distinctio quam repellendus voluptates voluptatum inventore rem sapiente minus
                esse saepe iste harum architecto numquam quis vero dignissimos beatae est id libero adipisci enim odio
                natus commodi explicabo modi similique nesciunt deserunt vel consectetur velit omnis quaerat corrupti.
                Cumque, perspiciatis, culpa, reprehenderit laboriosam obcaecati deleniti soluta tempora ipsum ipsam iure
                temporibus dolore modi quidem cum doloribus ex vel suscipit sapiente ut esse optio voluptates molestias
                natus nostrum illo nihil quisquam facilis hic atque voluptas quae pariatur placeat officia doloremque
                quia ea recusandae rem iste asperiores iusto debitis quod incidunt id nemo repellendus itaque. Iure,
                vel, expedita quam repellendus aliquam fugit autem obcaecati libero reiciendis excepturi officia
                voluptate molestiae quis itaque consequatur nulla ea sunt facilis cupiditate tempora sequi nam in
                asperiores! Sunt, maxime at id eaque debitis quasi a possimus eveniet eum velit tempore quidem
                voluptates expedita quibusdam officiis. Ipsum, quaerat, vero, adipisci enim autem inventore eum maiores
                consectetur culpa molestiae cumque sed qui dolorem. Placeat, quae deleniti molestiae minima cupiditate
                quaerat sit est perspiciatis error iste. Ratione, minus, commodi, magni laborum doloribus libero ullam
                quos tenetur quis molestias ipsam consequuntur harum asperiores culpa nostrum omnis.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, quos, voluptate, sunt, in suscipit
                quibusdam quis dignissimos eligendi repellendus ipsam exercitationem adipisci nostrum fugit accusamus
                quae cum nisi accusantium eaque.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, dolore, impedit eveniet
                necessitatibus voluptate distinctio quam repellendus voluptates voluptatum inventore rem sapiente minus
                esse saepe iste harum architecto numquam quis vero dignissimos beatae est id libero adipisci enim odio
                natus commodi explicabo modi similique nesciunt deserunt vel consectetur velit omnis quaerat corrupti.
                Cumque, perspiciatis, culpa, reprehenderit laboriosam obcaecati deleniti soluta tempora ipsum ipsam iure
                temporibus dolore modi quidem cum doloribus ex vel suscipit sapiente ut esse optio voluptates molestias
                natus nostrum illo nihil quisquam facilis hic atque voluptas quae pariatur placeat officia doloremque
                quia ea recusandae rem iste asperiores iusto debitis quod incidunt id nemo repellendus itaque. Iure,
                vel, expedita quam repellendus aliquam fugit autem obcaecati libero reiciendis excepturi officia
                voluptate molestiae quis itaque consequatur nulla ea sunt facilis cupiditate tempora sequi nam in
                asperiores! Sunt, maxime at id eaque debitis quasi a possimus eveniet eum velit tempore quidem
                voluptates expedita quibusdam officiis. Ipsum, quaerat, vero, adipisci enim autem inventore eum maiores
                consectetur culpa molestiae cumque sed qui dolorem. Placeat, quae deleniti molestiae minima cupiditate
                quaerat sit est perspiciatis error iste. Ratione, minus, commodi, magni laborum doloribus libero ullam
                quos tenetur quis molestias ipsam consequuntur harum asperiores culpa nostrum omnis.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, dolore, impedit eveniet
                necessitatibus voluptate distinctio quam repellendus voluptates voluptatum inventore rem sapiente minus
                esse saepe iste harum architecto numquam quis vero dignissimos beatae est id libero adipisci enim odio
                natus commodi explicabo modi similique nesciunt deserunt vel consectetur velit omnis quaerat corrupti.
                Cumque, perspiciatis, culpa, reprehenderit laboriosam obcaecati deleniti soluta tempora ipsum ipsam iure
                temporibus dolore modi quidem cum doloribus ex vel suscipit sapiente ut esse optio voluptates molestias
                natus nostrum illo nihil quisquam facilis hic atque voluptas quae pariatur placeat officia doloremque
                quia ea recusandae rem iste asperiores iusto debitis quod incidunt id nemo repellendus itaque. Iure,
                vel, expedita quam repellendus aliquam fugit autem obcaecati libero reiciendis excepturi officia
                voluptate molestiae quis itaque consequatur nulla ea sunt facilis cupiditate tempora sequi nam in
                asperiores! Sunt, maxime at id eaque debitis quasi a possimus eveniet eum velit tempore quidem
                voluptates expedita quibusdam officiis. Ipsum, quaerat, vero, adipisci enim autem inventore eum maiores
                consectetur culpa molestiae cumque sed qui dolorem. Placeat, quae deleniti molestiae minima cupiditate
                quaerat sit est perspiciatis error iste. Ratione, minus, commodi, magni laborum doloribus libero ullam
                quos tenetur quis molestias ipsam consequuntur harum asperiores culpa nostrum omnis.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, dolore, impedit eveniet
                necessitatibus voluptate distinctio quam repellendus voluptates voluptatum inventore rem sapiente minus
                esse saepe iste harum architecto numquam quis vero dignissimos beatae est id libero adipisci enim odio
                natus commodi explicabo modi similique nesciunt deserunt vel consectetur velit omnis quaerat corrupti.
                Cumque, perspiciatis, culpa, reprehenderit laboriosam obcaecati deleniti soluta tempora ipsum ipsam iure
                temporibus dolore modi quidem cum doloribus ex vel suscipit sapiente ut esse optio voluptates molestias
                natus nostrum illo nihil quisquam facilis hic atque voluptas quae pariatur placeat officia doloremque
                quia ea recusandae rem iste asperiores iusto debitis quod incidunt id nemo repellendus itaque. Iure,
                vel, expedita quam repellendus aliquam fugit autem obcaecati libero reiciendis excepturi officia
                voluptate molestiae quis itaque consequatur nulla ea sunt facilis cupiditate tempora sequi nam in
                asperiores! Sunt, maxime at id eaque debitis quasi a possimus eveniet eum velit tempore quidem
                voluptates expedita quibusdam officiis. Ipsum, quaerat, vero, adipisci enim autem inventore eum maiores
                consectetur culpa molestiae cumque sed qui dolorem. Placeat, quae deleniti molestiae minima cupiditate
                quaerat sit est perspiciatis error iste. Ratione, minus, commodi, magni laborum doloribus libero ullam
                quos tenetur quis molestias ipsam consequuntur harum asperiores culpa nostrum omnis.
            </p>
        </div>
    </main> <!-- .cd-main-content -->
</div>